[Unit]
Description=MurOS firewall (nftables) ruleset
Documentation=https://github.com/ecritel/muros
DefaultDependencies=no
Wants=network-pre.target
Before=network-pre.target shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/opnsense/scripts/firewall/nft_apply.sh
ExecReload=/usr/local/opnsense/scripts/firewall/nft_apply.sh
ExecStop=/usr/sbin/nft flush ruleset

[Install]
WantedBy=multi-user.target
